
@import url('../lib/bootstrap/css/bootstrap.css');
@import url('../lib/Font-Awesome/css/font-awesome.css');
@import url('../lib/keen-ui/keen-ui.min.css');
@import url('../lib/umeditor/themes/default/css/umeditor.min.css');

#vue-app{
	position: relative;
	min-width:100%;
	min-height: 100%;
	background-color: #fffee6;
	/* padding-bottom:120px; */
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body{
	width:100%;
	min-height:100%;
	font-size: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6{
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif!important
}
html,body,div,ul,p{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	color:#48c812;
	cursor: pointer;
}
.com-container{
	margin-left:auto;
	margin-right:auto;
}
.com-container:before, .com-container:after{
	content: '';
	display: table;
	clear:both;
}
/*webIndex首页演示 start*/
.web-index .index-menu-icons{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	text-align: center;
	padding: 20px;
}
.index-menu-icons>div{
	position: relative;
	width: 40px;
	display: inline-block;
	margin:0px 15px;
	font-size:26px;
	cursor: pointer;
}
.index-menu-icons .guest-index-icon{
	position: relative;
	z-index:50;
	color:#41a128;
}
.index-menu-icons .guest-index-icon:hover{
	color:#2dd700;
	font-size:30px;
}
.index-menu-icons .register-icon{
	position: relative;
	z-index:50;
	color:#b72e3e;
}
.index-menu-icons .register-icon:hover{
	color:#f5001d;
	font-size:30px;
}
.index-menu-icons .login-icon{
	position: relative;
	z-index:50;
	color:#92256e;
}
.index-menu-icons .login-icon:hover{
	color:#c30083;
	font-size:30px;
}
.index-menu-icons .login-icon, .index-menu-icons .register-icon, .index-menu-icons .guest-index-icon, .arrow-icon{
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
.index-menu-icons>div>i:hover~.arrow-icon{
	top:100%;
	opacity: 1;
}
.arrow-icon {
	position: absolute;
	text-align: center;
}

.text-icon{
  background-color: #000;
  color:#fff;
  position: absolute;
  font-size:16px;
  top:90%;
  left:-5px;
  width: 50px;
  padding:3px 5px;
  opacity: 0;
  z-index:49;
}

.arrow-icon:after, .arrow-icon:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
}

.arrow-icon:before {
  border-width: 7px;
  border-bottom-color: #000;
  top:-11px;
  left: 19px;
}
/*webIndex首页演示 start*/

/*vue2loadingbar样式 start*/
#loading-bar{
	height: 3px;
	background-color:#35b300;
	top:0px;
	position: fixed;
	z-index: 9999;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
/*vue2loadingbar样式 end*/

/*platform的首页样式 start*/
.platform-space{
	width: 100%;
	height: 100%;
	display: table;
	margin-top: 60px;
}
.platform-index-content{
	margin:20px auto;
	background-color: #fff;
	min-height: 100vh;
	box-shadow: 0px 0px 15px #ddd;
	padding:15px;
}
.platform-index-content>.platform-index-top{
	width: 100%;
}
.platform-index-top>.day-remind{
	width: 180px;
	height: auto;
	float: right;
	border:1px solid #35b300;
	position: relative;
	margin-top: 15px;
	margin-right: 30px;
	margin-left:30px;
}
@media(max-width: 1200px){
	.platform-index-top>.day-remind{
		float: none;
		width: auto;
	}
}
.day-remind .remind-icon{
	position: absolute;
	top:-10px;
	left:-10px;
	font-size:30px;
	color:#4abe19;
}
.day-remind .remind-txt{
	padding:15px 0px;
	text-align: center;
}
.day-remind .remind-date{
	padding:5px 10px 10px;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	color:#888;
	font-family: 'Playfair Display';
}
.platform-index-top>.day-commands-food{
	width: 850px;
	position: relative;
	float: right;
	display: inline-block;
	text-align: center;
}
@media(max-width: 1200px){
	.platform-index-top>.day-commands-food{
		float: none;
		width: auto;
	}
	.day-commands-food .food-com{
		width: 45%;
		min-width: 320px;
	}
}
.h3-center{
	padding-bottom: 5px;
	border-bottom:1px solid #ffcd80;
	text-align: left;
}
.day-commands-food .food-com{
	position: relative;
	max-width: 400px;
	width: 45%;
	height: 225px;
	border: 1px solid #eee;
	display: inline-block;
	margin-right:5px;
	margin-left:5px;
	margin-bottom: 10px;
	overflow: hidden;
}
.day-commands-food .food-com img{
	width: 100%;
	height: 100%;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
.day-commands-food .food-com:hover img{
	transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
}
.day-commands-food .food-com .cornor{
	position: absolute;
	background-color:#fffee6;
	width: 70px;
	padding-left:8px;
	padding-right:8px;
	color:#d07e00;
	cursor: pointer;
	z-index: 99;
}
.food-com .mor-cornor{
	right:0px;
	bottom:0px;
	border-top-left-radius:100%;
	text-align: right;
	padding-top:20px;
	padding-bottom: 10px;
}
.food-com .noon-cornor{
	left:0px;
	bottom:0px;
	border-top-right-radius:100%;
	text-align: left;
	padding-top:20px;
	padding-bottom: 10px;
}
.food-com .night-cornor{
	right:0px;
	top:0px;
	border-bottom-left-radius:100%;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 20px;
}
.food-com .after-cornor{
	left:0px;
	top:0px;
	border-bottom-right-radius:100%;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 20px;
}
.food-com .cmd-food-about-wrap{
	position: absolute;
	display: flex;
	display: -webkit-flex;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 90;
	top:0px;
	background-color: rgba(221,146,29,0.7);
	opacity: 0;transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	cursor: pointer;
}
.food-com:hover .cmd-food-about-wrap{
	opacity: 1;
}
.food-com>.cmd-food-about-wrap>.cmd-food-about{
	margin: auto;
	word-wrap: break-word;
	width: 100%;
	text-align: center;
	padding:0px 20px;
}
.food-com>.cmd-food-about-wrap>.cmd-food-about>h3{
	margin: 5px 0px;
	word-wrap: break-word;
	width: 100%;
	font-weight: bold;
}
.cmd-food-about-wrap>.cmd-food-about>.cmd-food-maker{
	display: table;
	float: right;
}
.cmd-food-about-wrap>.cmd-food-about>.cmd-food-maker span{
	display: table-cell;
	vertical-align: middle;
}
.cmd-food-about-wrap>.cmd-food-about>.cmd-food-maker img{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	display:table-cell;
	vertical-align: middle;
	margin:0px 3px 0px 10px;
}
.cmd-food-data{
	width: 100%;
	position: absolute;
	bottom: 5px;
	left:0px;
	font-size: 16px;
	text-align: center;
}
.cmd-food-data i{
	font-size: 18px;
}
.cmd-food-data span{
	position: relative;
	top:2px;
	padding:0px 8px 0px 20px;
}
.platform-index-content>.day-article-commands{
	width: auto;
	margin:30px 20px;
	padding: 30px 20px 10px;
	border:1px solid #ddd31d;
	position: relative;
}
.more-btn{
	position: absolute;
	right:10px;
	top:-15px;
	font-size: 20px;
	background-color: #fff;
	cursor: pointer;
	color:#999;
	z-index: 199;
}
.more-btn:hover{
	color:#333;
}
.day-article-commands>h3{
	text-align: center;
	margin:0px;
	position: absolute;
	top:-15px;
	width: 100%;
}
.day-article-commands>h3 p{
	background-color: #fff;
	display: inline-block;
}
.com-container>.article-cmd{
	padding:10px 20px;
	margin-bottom: 15px;
	text-align: left;
	position: relative;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
.com-container>.article-cmd:hover{
	box-shadow: 0px 0px 10px #ccc;
}
.com-container>.article-cmd h3{
	margin:10px 0px;
	color:#d07e00;
	cursor: pointer;
}
.com-container>.article-cmd h3:hover{
	color:#dd921d;
}
.com-container>.article-cmd img{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 75%;
	top:15px;
	right:25px;
	cursor: pointer;
}
.article-cmd>.article-author{
	padding:5px 0px;
}
.article-cmd>.content-share{
	padding:10px;
}
.content-share>span{
	cursor: pointer;
	font-size:16px;
	margin-right: 30px;
	margin-left:15px;
	position: relative;
}
.content-share>span:hover i[class*="twitter"]{
	color:#429cd6;
}
.content-share>span:hover i[class*="facebook"]{
	color:#3a589e;
}
.content-share>span:hover i[class*="comment"]{
	color:#41db00;
}
.content-share>span i{
	font-size:20px;
	position: absolute;
	top:2px;
	left:-22px;
	padding-right: 5px;
	color:#999;
}
.command-food-by-master{
	position: relative;
	padding:20px;
	text-align: center;
}
.command-food-by-master .more-btn{
	top:25px;
	right: 25px;
	text-align: center;
}
.command-food-by-master>h3{
	text-align: center;
	margin:10px 0px;
	word-wrap: break-word;
}
.command-food-by-master>.command-food{
	position: relative;
	display: inline-block;
	padding:10px;
	overflow: hidden;
	width: 48%;
	height: 205px;
	max-width: 500px;
	margin:3px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	cursor: pointer;
}
.command-food-by-master>.command-food:hover{
	box-shadow: 0px 0px 10px #ccc;
}
.command-food-by-master>.command-food>.cmd-food-img{
	max-width: 240px;
	display: inline-block;
	width: 48%;
	position: relative;
}
.command-food>.cmd-food-img img{
	width: 100%;
}
.command-food>.cmd-food-img .cmd-food-data,{
	position: absolute;
	opacity: 0;
	width: 100%;
	bottom:0px;
	padding:2px;
	left:0px;
	text-align: center;
	background-color: #fff100;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
.command-food:hover>.cmd-food-img .cmd-food-data{
	opacity: 1
}
.command-food>.command-food-desc{
	float: right;
	max-width: 240px;
	padding:5px 15px;
	max-height: 100%;
	overflow: hidden;
}
.command-food>.command-food-desc>h4{
	text-align: left;
	word-wrap: break-word;
	margin:5px 0px ;
	padding-right:30px;
}
.command-food>.command-food-desc>div{
	font-size: 16px;
	line-height: 25px;
}
.command-food>.command-food-desc>div>span{
	float: left;
}
.command-food>.command-food-desc>div>a{
	margin:0px 3px;
	float: left;
	color:#48c812;
}
@media(max-width: 1200px){
	.command-food-by-master>.command-food{
		width: 30%;
		max-width: 280px;
		overflow: visible;
		height: auto;
	}
	.command-food>.command-food-desc{
		float: none;
		margin-left:auto;
		margin-right:auto;
	}
	.command-food-by-master>.command-food>.cmd-food-img{
		width: 90%;
		max-width: none;
	}
}
/*platform的首页样式 end*/

/*platform的头部菜单栏 start*/
#platform-head nav>div .user-power-list,.slide-imgs-box .slide-imgs-container ul{
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
#platform-head{
	
}
#platform-head .navbar-default{
	position:fixed; 
	width:100%;
	height:60px;
	padding:5px 0px;
	background-color: #ffcd80;
	box-shadow: 0px 1px 15px #fff;
	border-bottom-color:#fff5e6;
}
#platform-head nav>div{
	display: inline-block;
}
#platform-head nav>div>div,#platform-head nav>div>ul{
	float:left;
	height: 100%;
	margin-right:10px;
}
#platform-head nav>div>ul>li{
	color:#fff;
	font-size: 16px;
	cursor: pointer;
}
#platform-head nav>div>ul li p{
	padding:5px 10px;
}
#platform-head nav>div>ul>li>p:hover{
	color:#ffcd80;
	border-radius: 5px;
	background-color: #fff;
}
#platform-head nav>div .hd-icon,#platform-head nav>div .hd-user img{
	position: relative;
	width:auto;
	height: 50px;
}
nav>div .hd-icon img{
	height:100%;
}
#platform-head nav>div>ul{
	float: none;
	display: inline-block;
	height: 100%;
}
#platform-head nav>div>ul>li{
	display: table-cell;
	padding:10px;
	text-align: left;
	height: 100%;
}
#platform-head nav>div>ul>li:hover ul{
	display: block;
}
#platform-head nav>div>ul>li>ul{
	background-color: #fff880;
	padding: 5px 0px;
	border-radius: 5px;
	margin-top:7px;
	width: 200px;
	margin-left:-75px;
	display: none;
}
#platform-head nav>div>ul>li>ul:before{
	left:50%;
	top:-12px;
	border-bottom-color:#fff880;
}
#platform-head nav>div>ul>li ul li:hover{
	background-color: #fff5e6;
	color:#ff9a00;
}
#platform-head nav>div .hd-user{
	position: relative;
	width:auto;
	float: right;
}
#platform-head nav>div .hd-user img{
	border-radius: 5px;
	cursor: pointer;
}
#platform-head nav>div .hd-user .hd-user-info{
	color:#fff;
	float: right;
	cursor: pointer;
	padding:5px;
	position: relative;
	text-align: center;
}
#platform-head nav>div .hd-user .hd-user-info p{
	padding:10px 15px;
	border:1px solid transparent;
}
#platform-head nav>div .user-power-list{
	padding-top:5px;
	display: none;
	z-index: 99;
	left:-5px;
	/* box-shadow: 0px 2px 5px #fff; */
	min-width: 100px;
	color:#fff;
	cursor: pointer;
	position: absolute;
}
#platform-head nav>div .user-power-list>li:first-child:before{
	left:45%;
	top:-13px;
	z-index:99;
	border-bottom-color:#fff880;
}
#platform-head nav>div .user-power-list>li:first-child{
	position: relative;
}
#platform-head nav>div .hd-user:hover .user-power-list{
	display: inline-block;
}

#platform-head nav>div .user-power-list>li{
	padding:10px 0px;
	border-radius: 5px;
	color:#ff9a00;
	border:1px solid #fff;
	background-color: #fff880;
}
#platform-head nav>div .user-power-list>li:hover{
	background-color:#ff9a00;
	color:#fff;
	border:1px solid #fff880;
}
#platform-head .user-signin, #platform-head .user-regist{
	float: right;
	padding:10px;
	color:#fff;
	border-radius: 5px;
	border:1px solid #fff;
	margin:3px 10px;
	font-weight: bold;
	cursor:pointer;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
#platform-head .user-signin:hover, #platform-head .user-regist:hover{
	background-color: #ff9a00;
}
/*platform的头部菜单栏 end*/

/*platform的脚部菜单栏 start*/
#platform-footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width:100%;
	height: auto;
	text-align: center;
	padding-top:20px;
	padding-bottom:30px;
	background-color:rgb(153,204,153);
}
#platform-footer div:after, #platform-footer div:before{
	content: '';
	display: table;
	clear:both;
}
#platform-footer>div>a{
	padding:0px 5px;
}
#platform-footer>div>a:not(:first-child){
	border-left:1px solid #000;
	padding:0px 7px 0px 8px;
}
/*platform的脚部菜单栏 end*/

/*food列表页面的样式 start*/
.platform-container{
	padding-top:60px;
}

/*food列表页面的样式 end*/

/*articlelist列表页面的样式 start*/
.platform-article-list{
	padding-top:60px;
}
.platform-article-list>.article-list{
	position: relative;
	background-color: #fff;
	margin-top:20px;
	margin-bottom:20px;
	padding:20px;
}
.article-list>.article-sort-name{
	position: absolute;
	right:20px;
	top:40px;
	font-size: 16px;
	font-weight: bold;
}
.article-sort-name>span{
	padding:5px;
	margin:0px 10px;
	background-color: #ddd31d;
	color:#fff;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
.article-sort-name>span i{
	position: relative;
	top:1px;
	font-size:18px;
	padding:3px;
}
.article-author{
	color:#f5001d;
}
/*articlelist列表页面的样式 end*/

/*slideImg样式 start*/
.slide-imgs-box{
	position: relative;
	width:100%;
	height: 100vh;
	/* height: -webkit-calc(100vh - 60px);
	height: -ms-calc(100vh - 60px);
	height: -moz-calc(100vh - 60px);
	height: calc(100vh - 60px); */
}
.slide-imgs-box .slide-imgs-container{
	position: relative;
	width:100%;
	height: 100%;
	overflow: hidden;
}
.slide-imgs-box .slide-imgs-container .slide-imgs{
	position: relative;
	height: 100%;
}
.slide-imgs-box .slide-imgs-container .slide-imgs li{
	position: relative;
	height: 100%;
	float:left;
	top:0px;
	left:0px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.slide-imgs-box .slide-imgs-container .slide-imgs li>img{
	position: relative;
	width: 100%;
	height: 100%;
}
.slide-imgs-box .slide-imgs-container>ul li>p{
	position: absolute;
	width: 100%;
	padding:30px 20px;
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	z-index:99;
	top:30%;
}
/*slideImg样式 end*/

/*首页轮播图片略缩排列 start*/
.slide-small-wrap{
	position: absolute;
	width: 100%;
	text-align:center;
	bottom: 0px;
}
.slide-small-imgs{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
}
.slide-small-imgs li{
	display: inline-block;
	height: 90px;
	cursor: pointer;
	opacity: 0.9;
}
.slide-small-imgs li:hover{
	opacity: 1;
}
.slide-small-imgs li img{
	height: 100%;
}
.slide-small-imgs .img-border{
	position: absolute;
	left:0px;
	border-bottom:  5px solid #86BA00;
	background-color:transparent;
	bottom:0px;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
/*首页轮播图片略缩排列 end*/


/*rankFlow样式 start*/
.rank-flow-box{
	position: relative;
	display: table;
	margin-left:250px;
	margin-right:10px;
	min-height: -moz-calc(100vh + 20px);
	min-height: -webkit-calc(100vh + 20px);
	min-height: calc(100vh + 20px);
	width: -moz-calc(100% - 260px);
	width: -webkit-calc(100% - 260px);
	width: calc(100% - 260px);
}
.rank-flow-box:before, .rank-flow-box:after{
	content:'';
	display: table;
}
.rank-flow-box:after{
	clear:both;
}
@media(max-width: 1024px){
	.rank-flow-box{
		margin-left:auto;
		margin-right: auto;
	}
}
/*@media(min-width:1200px){
	.rank-flow-box{
		width: 1120px;
	}
} */
.rank-flow-box .rank-flow{
	position: absolute;
	display: inline-block;
	background-color: #ffcd80;
	/* width: 240px; */
	top:0px;
	/* padding:10px; */
	border:1px solid #fff;
	transition: box-shadow .8s ease;
	-webkit-transition: box-shadow .8s ease;
	-ms-transition: box-shadow .8s ease;
	-o-transition: box-shadow .8s ease;
	cursor: pointer;
}
.rank-flow-box .rank-flow:hover{
	box-shadow: 0px 0px 5px 3px #eee;
}
.rank-flow-box .rank-flow img{
	position: relative;
	width: 100%;
	height:100%;
}
.rank-flow-box .rank-flow p{
	word-wrap: break-word;
}
.rank-flow-box .rank-flow .backdrop{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(221,146,29,0.7);
	overflow: hidden;
	padding:0px 20px;
	vertical-align: middle;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	opacity: 0;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	word-wrap: break-word;
}
.rank-flow-box .rank-flow .backdrop p{
	/* position: absolute; */
	width: 100%;
	margin:auto;
	word-wrap: break-word;
}
.rank-flow-box .rank-flow:hover .backdrop{
	opacity: 1;
}
/*rankFlow样式 end*/

/*sidebar-left的样式 start*/
.sidebar-left-wrap{
	position: fixed;
	width: 240px;
	top:0px;
	bottom: 0px;
	left:0px;
	padding-top: 60px;
	background-color:#edffe6;
	overflow-x: hidden; 
	overflow: hidden;
	z-index: 99;
}
@media(max-width: 1024px){
	.sidebar-left-wrap{
		left:-240px;
	}
}
.sidebar-left{
	width: 260px;
	margin:0px;
	height: 100%;
	padding:20px 35px 20px 15px;
}
.sidebar-left .search-label{
	margin-bottom:5px;
	font-size:16px;
	color:#f9aa07;
	padding-left: 4px;
}
.sidebar-left .search-input-group{
	/*text-align: center;*/
	overflow: hidden;
	display: table;
	height: 32px;
	width: auto;
	border-radius:5px;
}
.search-input-group input{
	position: relative;
	outline: none;
	display: table-cell;
	height: 34px;
	font-size: 16px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border: 1px solid transparent;
	border-right: 0;
	padding:5px;
	width: auto;
}
.sidebar-left .search-input-group input:focus, .sidebar-left .search-input-group input:focus~span{
	border-color:#f1de74 
}
.search-input-group span{
	display: table-cell;
	padding:0px 5px;
	vertical-align: middle;
	border: 1px solid transparent;
	background-color:#fff;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-left: 0;
	cursor: pointer;
}
.search-input-group i{
	font-size:22px;
	color:#f9aa07;
}
.search-sorting{
	padding:15px 1px;
	color:#f9aa07;
}
.search-sorting .sorting-label{
	font-size:16px;
}
.search-sorting .sorting-asc,.search-sorting .sorting-desc{
	float: right;
	margin-left: 20px;
	border-radius: 2px;
	padding: 2px;
	background-color: #feeecb;
	cursor: pointer;
}
.sidebar-menu{
	padding:10px 5px;
}
.sidebar-menu li{
	padding:8px 0px;
	margin: 8px 0px;
	/*background-color:#9ae806; */
	border-radius: 5px;
	color:#f9aa07;
	cursor: pointer;
}
.sidebar-menu li:hover{
	background-color:#a6ff80; 
	color:#fff;
}
.sidebar-menu li i{
	position: relative;
	padding:5px;
	font-size: 18px;
	left:10px;
	opacity: 0;
}
.sidebar-menu li span{
	position: relative;
	padding:10px;
	font-size: 16px;
	left:-10px;
}
.sidebar-menu li:hover i{
	left:0px;
	opacity: 1;
}
.sidebar-menu li:hover span{
	left:0px;
}
.sidebar-menu li span, .sidebar-menu li i{
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
/*sidebar-left的样式 end*/

/*foods界面样式 start*/
.query-tip{
	position: relative;
	display: table;
	margin-left:250px;
	margin-right:10px;
	width: -moz-calc(100% - 260px);
	width: -webkit-calc(100% - 260px);
	width: calc(100% - 260px);
}

@media(max-width: 1024px){
	.query-tip{
		margin-left:auto;
		margin-right: auto;
	}
}
/*foods界面样式 end*/

/*foodEdit页面的样式 start*/
.edit-container{
	margin-top:60px;
	padding:20px;
}
.edit-food-wrap{
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
}
.delete-btn{
	font-size: 20px;
	color:red;
	margin-top:30px;
}
.delete-btn>span{
	cursor: pointer;
}
.delete-btn i{
	margin-left:30px;
	font-size:40px;
	margin-right: 5px;
	position: relative;
	top:5px;
}
.add-step-btn{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	padding:10px 0px;
	margin-top:10px;
	margin-bottom: 10px;
	border:1px dotted #5cb85c;
}
.add-step-btn span{
	padding:8px 15px;
	background-color: #5cb85c;
	color:#fff;
}
/*foodEdit页面的样式 end*/

/*imgUpload样式 start*/
.file-upload-wrap{
	position: relative;
	width: auto;
	height: auto;
	background-color: #fff;
	border:1px solid #dd921d;
	padding:5px;
	margin-top:10px;
	display: inline-block;
}
.file-upload-wrap>.upload-file{
	position: relative;
	width: 120px;
	height: 90px;
	margin: 5px;
	cursor: pointer;
	float: left;
}
.file-upload-wrap>.upload-file>img{
	width: 100%;
	height: 100%;
}
.file-upload-wrap>.upload-file>i{
	position: absolute;
	display: none;
	font-size: 26px;
	right:-8px;
	top:-8px;
	color:#f5001d;
	background-color: #fff;
	border-radius: 100%;
	line-height: 20px;
	cursor: pointer;
}
.file-upload-wrap>.upload-file:hover i{
	display: inline;
}
.file-upload-wrap>.add-img-wrap{
	position: relative;
	width: 90px;
	height: 90px;
	margin:5px;
	float: left;
}
.file-upload-wrap>.add-img-wrap>span{
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.file-upload-wrap>.add-img-wrap>span i{
	display: table-cell;
	vertical-align: middle;
	font-size:60px;
	height: auto;
	text-align: center;
}
.file-upload-wrap>.upload-dropback{
	position: absolute;
	display: flex;
	display: -webkit-flex;
	text-align: center;
	width: 100%;
	height: 100%;
	top:0%;
	left:0%;
	background-color: rgba(255,255,255,0.7);
}
@keyframes selfRoate{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
	}
}
@-moz-keyframes selfRoate{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
	}
}
@-webkit-keyframes selfRoate{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
	}
}
@-o-keyframes selfRoate{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
	}
}
.file-upload-wrap>.upload-dropback i{
	position: relative;
	display: inline-block;
	font-size:50px;
	line-height: 0px;
	color:#f5001d;
	margin:auto;
	transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	animation: selfRoate 5s linear infinite;
	-moz-animation: selfRoate 5s linear infinite;
	-webkit-animation: selfRoate 5s linear infinite;
	-o-animation: selfRoate 5s linear infinite;
}
.file-upload-wrap>.big-img-backderop{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index:8888;
	top:0px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	display: -webkit-flex;
	text-align: center;
}
.file-upload-wrap>.big-img-backderop img{
	position: relative;
	margin: auto;
	cursor: pointer;
	padding:10px;
	background-color: #fff;
	border-radius: 10px;
}
/*imgUpload样式 end*/

/*多选框按钮样式 start*/
.check-box-wrap{
	margin-right: 20px;
	float: left;
}
.check-box{
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 4px;
	border:1px solid #4abe19;
	border-radius: 20px;
	overflow: hidden;
}
.check-box i{
	display: table;
	width:102%;
	height: 102%;
	text-align: center;
	background-color: #41db00;
	color:#fff;
}
.check-box i:before{
	display: table-cell;
	vertical-align: middle;
}
.check-box-wrap span{
	float: left;
	margin-left:5px;
	font-size: 18px;
}
.check-box .check{
	width: 100%;
	height: 100%;
	margin:0px;
	position: absolute;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
}
.check:not(:checked)~i{
	display: none;
}
/*多选框按钮样式 end*/

/*wangeditor重写样式 start*/
.file-input-hidden{
	position: fixed;
}
/*wangeditor重写样式 end*/

/*tableSplit页面的样式 start*/
.table-wrap{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.table-wrap:before{
	content: '';
	display: table;
}
.table-wrap:after{
	content: '';
	display: table;
	clear: both;
}
.table-scroll{
	overflow: hidden;
}
.table-scroll table{
	border: 1px solid #000;
}
.table-scroll table>thead td{
	text-align:center;
	cursor: pointer;
}
.table-scroll table>thead td>span{
	position: relative;
	height: 100%;
	margin-left: 5px;
}
.table-scroll table>thead td>span>i{
	line-height: 150%;
}
.icon-hide{
	display: none;
}
/*tableSplit页面的样式 end*/

/*vue-tables-2的样式 start*/
#table{
	width: 900px;
	margin-top: 20px;
	margin-left: 100px;
}
/*vue-tables-2的样式 end*/
