<div class="platform-space">
	<div class="container platform-index-content">
		<div class="platform-index-top com-container">
			<div class="day-remind">
				<i class="icon-bell-alt remind-icon"></i>
				<div class="remind-txt">
					xxxxxxxxxxxxxxxxx
					xxxxxxxxxxxxxxxxx
					xxxxxxxxxxxxxxxxx
					xxxxxxxxxxxxxxxxx
					xxxxxxxxxxxxxxxxx
				</div>
				<div class="remind-date">{{today}}</div>
			</div>
			<div class="day-commands-food com-container">
				<h3 class="h3-center">Day Command About Food</h3>
				<div class="morning-cmd food-com">
					<img src="web/resources/img/salad.jpg"/>
					<div class="cornor mor-cornor">早餐</div>
					<div class="cmd-food-about-wrap">
						<div class="cmd-food-about">
							<h3 class="cmd-food-name">Salad</h3>
							<p class="cmd-food-info">SaladSalad SaladSalad SaladSalad SaladSalad SaladSalad SaladSalad</p>
							<div class="cmd-food-maker"><span>made by:</span><img src="web/resources/img/rm.png"/><span class="food-maker-name">Tony Stark</span></div>
						</div>
						<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
					</div>
				</div>
				<div class="noon-cmd food-com">
					<img src="web/resources/img/cookie.jpg"/>
					<div class="cornor noon-cornor">午餐</div>
					<div class="cmd-food-about-wrap">
						<div class="cmd-food-about">
							<h3 class="cmd-food-name">Cookie</h3>
							<p class="cmd-food-info">CookieCookie CookieCookie CookieCookie</p>
						</div>
						<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
					</div>
				</div>
				<div class="night-cmd food-com">
					<img src="web/resources/img/night.jpg"/>
					<div class="cornor night-cornor">晚餐</div>
					<div class="cmd-food-about-wrap">
						<div class="cmd-food-about">
							<h3 class="cmd-food-name">Night</h3>
							<p class="cmd-food-info">nightnight nightnight nightnight</p>
						</div>
						<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
					</div>
				</div>
				<div class="afternoon-cmd food-com">
					<img src="web/resources/img/seasame.jpg"/>
					<div class="cornor after-cornor">下午茶</div>
					<div class="cmd-food-about-wrap">
						<div class="cmd-food-about">
							<h3 class="cmd-food-name">Seasame</h3>
							<p class="cmd-food-info">SeasameSeasame SeasameSeasame SeasameSeasame</p>
						</div>
						<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
					</div>
				</div>
			</div>
		</div>
		<div class="day-article-commands com-container">
			<p class="more-btn">more</p>
			<h3><p>Day Command About Article</p></h3>
			<div class="article-cmd">
				<h3>How to Eat Carbs Like a Sane Person</h3>
				<p class="article-author">by Darya Rose | Nov 2, 2016</p>
				<img class="article-author-img" src="web/resources/img/rm.png" />
				<div class="article-content">
					When I first decided to stop dieting the single hardest thing for me to do was let myself eat carbs again.
					<br/>
					<br/>
					Bread, rice and potatoes had been banned from my list of skinny-friendly foods for over 5 years. And even though I only weighed about 5 lbs less than when I ate them regularly, I couldn’t help but think of carbs as impossibly fattening. Given my body image issues at the time, I think I would have preferred to eat something laced with anthrax.
					<br/>
					<br/>
					What is it about carbs that makes people act insane?
					<br/>
					<br/>
					Getting over my fear of carbs required several critical steps. The first big one was digging into the science and learning that the healthiest, longest lived humans on the planet eat intact grains, tubers and legumes regularly. I grudgingly had to accept that they were not subsisting on protein bars and Diet Coke like I was.
					<br/>
					<br/>
					The next big test was trying for myself. I slowly phased out processed “diet” foods and started teaching myself to cook vegetables and other Real Foods. I started eating fruit again. But the scariest part was letting myself eat things like oats, rice and breakfast cereal (still not the best choice, but it didn’t matter).
					<br/>
					<br/>
					To my surprise and delight I didn’t gain weight. This was a huge win, since it was the first time in my adult life I remember not being constantly hungry. Then, slowly, I started to lose weight.
				</div>
				<div class="content-share">
					<span><i class="icon-comments"></i>(123)</span>
					<span><i class="icon-facebook-sign"></i>(111)</span>
					<span><i class="icon-twitter-sign"></i>(110)</span>
					<span><i class="icon-heart"></i>(110)</span>
				</div>
				<div class="article-tags">
					Tags:<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
				</div>
			</div>
			<div class="article-cmd">
				<h3>How to Eat Carbs Like a Sane Person</h3>
				<p class="article-author">by Darya Rose | Nov 2, 2016</p>
				<img class="article-author-img" src="web/resources/img/rm.png" />
				<div class="article-content">
					When I first decided to stop dieting the single hardest thing for me to do was let myself eat carbs again.
					<br/>
					<br/>
					Bread, rice and potatoes had been banned from my list of skinny-friendly foods for over 5 years. And even though I only weighed about 5 lbs less than when I ate them regularly, I couldn’t help but think of carbs as impossibly fattening. Given my body image issues at the time, I think I would have preferred to eat something laced with anthrax.
					<br/>
					<br/>
					What is it about carbs that makes people act insane?
					<br/>
					<br/>
					Getting over my fear of carbs required several critical steps. The first big one was digging into the science and learning that the healthiest, longest lived humans on the planet eat intact grains, tubers and legumes regularly. I grudgingly had to accept that they were not subsisting on protein bars and Diet Coke like I was.
					<br/>
					<br/>
					The next big test was trying for myself. I slowly phased out processed “diet” foods and started teaching myself to cook vegetables and other Real Foods. I started eating fruit again. But the scariest part was letting myself eat things like oats, rice and breakfast cereal (still not the best choice, but it didn’t matter).
					<br/>
					<br/>
					To my surprise and delight I didn’t gain weight. This was a huge win, since it was the first time in my adult life I remember not being constantly hungry. Then, slowly, I started to lose weight.
				</div>
				<div class="content-share">
					<span><i class="icon-comments"></i>(123)</span>
					<span><i class="icon-facebook-sign"></i>(111)</span>
					<span><i class="icon-twitter-sign"></i>(110)</span>
					<span><i class="icon-heart"></i>(110)</span>
				</div>
				<div class="article-tags">
					Tags:<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
				</div>
			</div>	
			<div class="article-cmd">
				<h3>How to Eat Carbs Like a Sane Person</h3>
				<p class="article-author">by Darya Rose | Nov 2, 2016</p>
				<img class="article-author-img" src="web/resources/img/rm.png" />
				<div class="article-content">
					When I first decided to stop dieting the single hardest thing for me to do was let myself eat carbs again.
					<br/>
					<br/>
					Bread, rice and potatoes had been banned from my list of skinny-friendly foods for over 5 years. And even though I only weighed about 5 lbs less than when I ate them regularly, I couldn’t help but think of carbs as impossibly fattening. Given my body image issues at the time, I think I would have preferred to eat something laced with anthrax.
					<br/>
					<br/>
					What is it about carbs that makes people act insane?
					<br/>
					<br/>
					Getting over my fear of carbs required several critical steps. The first big one was digging into the science and learning that the healthiest, longest lived humans on the planet eat intact grains, tubers and legumes regularly. I grudgingly had to accept that they were not subsisting on protein bars and Diet Coke like I was.
					<br/>
					<br/>
					The next big test was trying for myself. I slowly phased out processed “diet” foods and started teaching myself to cook vegetables and other Real Foods. I started eating fruit again. But the scariest part was letting myself eat things like oats, rice and breakfast cereal (still not the best choice, but it didn’t matter).
					<br/>
					<br/>
					To my surprise and delight I didn’t gain weight. This was a huge win, since it was the first time in my adult life I remember not being constantly hungry. Then, slowly, I started to lose weight.
				</div>
				<div class="content-share">
					<span><i class="icon-comments"></i>(123)</span>
					<span><i class="icon-facebook-sign"></i>(111)</span>
					<span><i class="icon-twitter-sign"></i>(110)</span>
					<span><i class="icon-heart"></i>(110)</span>
				</div>
				<div class="article-tags">
					Tags:<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
				</div>
			</div>		
		</div>
		<div class="command-food-by-master com-container">
			<h3 class="h3-center">Command Food By Mster</h3>
			<p class="more-btn">more</p>
			<div class="command-food">
				<div class="cmd-food-img">
					<img src="web/resources/img/meet.jpg"/>
					<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
				</div>
				<div class="command-food-desc">
					<h4>MeetAndHuaFu</h4>
					<div><span>Tags:</span>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
					</div>
				</div>
			</div>
			<div class="command-food">
				<div class="cmd-food-img">
					<img src="web/resources/img/meet.jpg"/>
					<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
				</div>
				<div class="command-food-desc">
					<h4>MeetAndHuaFu</h4>
					<div><span>Tags:</span>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
					</div>
				</div>
			</div>
			<div class="command-food">
				<div class="cmd-food-img">
					<img src="web/resources/img/meet.jpg"/>
					<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
				</div>
				<div class="command-food-desc">
					<h4>MeetAndHuaFu</h4>
					<div><span>Tags:</span>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
					</div>
				</div>
			</div>
			<div class="command-food">
				<div class="cmd-food-img">
					<img src="web/resources/img/meet.jpg"/>
					<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
				</div>
				<div class="command-food-desc">
					<h4>MeetAndHuaFu</h4>
					<div><span>Tags:</span>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
					</div>
				</div>
			</div>
			<div class="command-food">
				<div class="cmd-food-img">
					<img src="web/resources/img/meet.jpg"/>
					<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
				</div>
				<div class="command-food-desc">
					<h4>MeetAndHuaFu</h4>
					<div><span>Tags:</span>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
					</div>
				</div>
			</div>
			<div class="command-food">
				<div class="cmd-food-img">
					<img src="web/resources/img/meet.jpg"/>
					<div class="cmd-food-data"><span><i class="icon-heart"></i></span>(11)<span><i class="icon-eye-open"></i></span>(22)</div>
				</div>
				<div class="command-food-desc">
					<h4>MeetAndHuaFu</h4>
					<div><span>Tags:</span>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
						<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
