<div class="container platform-article-list">
	<div class="article-list com-container">
		<h3 class="h3-center">All Articles</h3>
		<div class="article-sort-name">
			Sorting:
			<span><i class="icon-calendar"></i>Date</span>
			<span><i class="icon-comment"></i>Comment</span>
			<span><i class="icon-heart"></i>Favourite</span>
		</div>
		<div class="article-cmd">
				<h3>How to Eat Carbs Like a Sane Person</h3>
				<p class="article-author">by Darya Rose | Nov 2, 2016</p>
				<img class="article-author-img" src="web/resources/img/rm.png" />
				<div class="article-content">
					When I first decided to stop dieting the single hardest thing for me to do was let myself eat carbs again.
					<br/>
					<br/>
					Bread, rice and potatoes had been banned from my list of skinny-friendly foods for over 5 years. And even though I only weighed about 5 lbs less than when I ate them regularly, I couldn’t help but think of carbs as impossibly fattening. Given my body image issues at the time, I think I would have preferred to eat something laced with anthrax.
					<br/>
					<br/>
					What is it about carbs that makes people act insane?
					<br/>
					<br/>
					Getting over my fear of carbs required several critical steps. The first big one was digging into the science and learning that the healthiest, longest lived humans on the planet eat intact grains, tubers and legumes regularly. I grudgingly had to accept that they were not subsisting on protein bars and Diet Coke like I was.
					<br/>
					<br/>
					The next big test was trying for myself. I slowly phased out processed “diet” foods and started teaching myself to cook vegetables and other Real Foods. I started eating fruit again. But the scariest part was letting myself eat things like oats, rice and breakfast cereal (still not the best choice, but it didn’t matter).
					<br/>
					<br/>
					To my surprise and delight I didn’t gain weight. This was a huge win, since it was the first time in my adult life I remember not being constantly hungry. Then, slowly, I started to lose weight.
				</div>
				<div class="content-share">
					<span><i class="icon-comments"></i>(123)</span>
					<span><i class="icon-facebook-sign"></i>(111)</span>
					<span><i class="icon-twitter-sign"></i>(110)</span>
					<span><i class="icon-heart"></i>(110)</span>
				</div>
				<div class="article-tags">
					Tags:<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
				</div>
			</div>
			<div class="article-cmd">
				<h3>How to Eat Carbs Like a Sane Person</h3>
				<p class="article-author">by Darya Rose | Nov 2, 2016</p>
				<img class="article-author-img" src="web/resources/img/rm.png" />
				<div class="article-content">
					When I first decided to stop dieting the single hardest thing for me to do was let myself eat carbs again.
					<br/>
					<br/>
					Bread, rice and potatoes had been banned from my list of skinny-friendly foods for over 5 years. And even though I only weighed about 5 lbs less than when I ate them regularly, I couldn’t help but think of carbs as impossibly fattening. Given my body image issues at the time, I think I would have preferred to eat something laced with anthrax.
					<br/>
					<br/>
					What is it about carbs that makes people act insane?
					<br/>
					<br/>
					Getting over my fear of carbs required several critical steps. The first big one was digging into the science and learning that the healthiest, longest lived humans on the planet eat intact grains, tubers and legumes regularly. I grudgingly had to accept that they were not subsisting on protein bars and Diet Coke like I was.
					<br/>
					<br/>
					The next big test was trying for myself. I slowly phased out processed “diet” foods and started teaching myself to cook vegetables and other Real Foods. I started eating fruit again. But the scariest part was letting myself eat things like oats, rice and breakfast cereal (still not the best choice, but it didn’t matter).
					<br/>
					<br/>
					To my surprise and delight I didn’t gain weight. This was a huge win, since it was the first time in my adult life I remember not being constantly hungry. Then, slowly, I started to lose weight.
				</div>
				<div class="content-share">
					<span><i class="icon-comments"></i>(123)</span>
					<span><i class="icon-facebook-sign"></i>(111)</span>
					<span><i class="icon-twitter-sign"></i>(110)</span>
					<span><i class="icon-heart"></i>(110)</span>
				</div>
				<div class="article-tags">
					Tags:<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
				</div>
			</div>	
			<div class="article-cmd">
				<h3>How to Eat Carbs Like a Sane Person</h3>
				<p class="article-author">by Darya Rose | Nov 2, 2016</p>
				<img class="article-author-img" src="web/resources/img/rm.png" />
				<div class="article-content">
					When I first decided to stop dieting the single hardest thing for me to do was let myself eat carbs again.
					<br/>
					<br/>
					Bread, rice and potatoes had been banned from my list of skinny-friendly foods for over 5 years. And even though I only weighed about 5 lbs less than when I ate them regularly, I couldn’t help but think of carbs as impossibly fattening. Given my body image issues at the time, I think I would have preferred to eat something laced with anthrax.
					<br/>
					<br/>
					What is it about carbs that makes people act insane?
					<br/>
					<br/>
					Getting over my fear of carbs required several critical steps. The first big one was digging into the science and learning that the healthiest, longest lived humans on the planet eat intact grains, tubers and legumes regularly. I grudgingly had to accept that they were not subsisting on protein bars and Diet Coke like I was.
					<br/>
					<br/>
					The next big test was trying for myself. I slowly phased out processed “diet” foods and started teaching myself to cook vegetables and other Real Foods. I started eating fruit again. But the scariest part was letting myself eat things like oats, rice and breakfast cereal (still not the best choice, but it didn’t matter).
					<br/>
					<br/>
					To my surprise and delight I didn’t gain weight. This was a huge win, since it was the first time in my adult life I remember not being constantly hungry. Then, slowly, I started to lose weight.
				</div>
				<div class="content-share">
					<span><i class="icon-comments"></i>(123)</span>
					<span><i class="icon-facebook-sign"></i>(111)</span>
					<span><i class="icon-twitter-sign"></i>(110)</span>
					<span><i class="icon-heart"></i>(110)</span>
				</div>
				<div class="article-tags">
					Tags:<a> carbs,</a><a>Psychology,</a><a>Weight Loss</a>
				</div>
			</div>		
	</div>
</div>